<launch>
  <arg name="nr" default="1" />
  <node name="car" pkg="car" type="car_node" output="screen">
    <param name="car_num" value="$(eval arg('nr'))" />
  </node>

  <node name="pp_controller" pkg="car" type="pure_pursuit_controller_node" output="screen" ns="car">
    <param name="car_num" value="$(eval arg('nr'))" />
  </node>
</launch>
